.diff_dir,
.diff_file,
.diff_header {
  display: flex;
}
.dirname,
.filename,
.diff_name,
.version {
  color: black;
  width: 300px;
}

.insertion {
  color: red;
  width: 100px;
}

.deletion {
  color: blue;
}

.summary {
  display: flex;
  font-size: 20px;
}
