.wrapper {
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.filepage {
  padding-bottom: 50px;
  overflow-x: scroll;
}

.header {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.line {
  text-align: center;
  width: 50px;
}

.id {
  width: 10px;
  overflow-x: scroll;
}

.header.author,
.header.author_email {
  width: 220px;
}

.header.date {
  width: 200px;
}
