.filepage{

    overflow-x: scroll;
}

.header{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.line{
    text-align: center;
    width:50px;
}

.id{
    width:10px;
    overflow-x: scroll;
}

.author, .author_email{
    width:230px;

}

.date{
    width:200px;
}