.codeline {
  display: flex;
  align-items: center;
  height: 25px;
}

.line {
  width: 50px;
}
.code::-webkit-scrollbar {
  display: none;
}
.code {
  justify-content: center;
  width: 700px;
  height: 17px;
  overflow-x: scroll;
}
.author_email_box {
  width: 200px;
  /* border-top: 0.1px solid black; */
}
.date {
  margin-left: 20px;
  text-indent: 30px;
}

.conflict,
.blame {
  display: flex;
  white-space: nowrap;
}

.review_url {
  margin-left: 10px;
}

.commit_id {
  width: 13px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.commit_msg {
  cursor: pointer;
}

.commit_id .commit_id_hover {
  visibility: hidden;
  width: 370px;
  background-color: rgb(255, 255, 255);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
}

.commit_id .commit_id_hover::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 16%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}

.commit_id:hover .commit_id_hover {
  visibility: visible;
  opacity: 1;
}
.dots {
  position: relative;
  left: 20%;
  font-weight: bold;
}
