.codeline {
  display: flex;
  align-items: center;
}

.line {
  width: 50px;
}
.code::-webkit-scrollbar {
  display: none;
}
.code {
  justify-content: center;
  width: 700px;
  height: 20px;
  overflow-x: scroll;
}

.conflict,
.blame {
  display: flex;
  white-space: nowrap;
}

.commit_id {
  width: 10px;
  overflow: hidden;
}

.commit_id_hover {
  display: none;
}

.commit_id:hover + .commit_id_hover {
  display: block;
  color: red;
}
